body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #00ff55;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 40px auto;
  background: #ff0000;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(211, 47, 47, 0.1);
}

h1 {
  text-align: center;
  color: #1022c6;
  margin-bottom: 25px;
}

.box {
  border: 2px solid #de081e;
  background: #e7eee5;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 25px;
}

legend {
  font-weight: bold;
  color: #f3003d;
  font-size: 1.1em;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #020dd3;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
}

input:focus, select:focus {
  border-color: #195995;
  outline: none;
  box-shadow: 0 0 5px rgba(5, 12, 216, 0.4);
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1em;
  font-weight: bold;
  background: #b202fe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #ef0d8d;
}
